@import '../../styles/vars/variables';

.title {
	margin: 35px 0;
	font-weight: 700;
	font-size: 36px;
	margin-bottom: 40px;

	@media (max-width: 480px) {
		font-size: 32px;
		margin-bottom: 30px;
	}
}

.errorInfo {
	border-top: 1px solid $main-color;
	padding-top: 20px;
	margin-bottom: 40px;
	max-width: 700px;

	h2 {
		font-size: 28px;
	}

	p {
		font-size: 20px;
	}

	@media (max-width: 480px) {
		margin-bottom: 20px;

		h2 {
			font-size: 24px;
		}
		p {
			font-size: 16px;
		}
	}
}

.items {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-column-gap: 20px;

	@media (max-width: 1380px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (max-width: 1050px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: 750px) {
		grid-template-columns: repeat(1, 1fr);
	}

	@media (max-width: 400px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.top {
	display: flex;
	align-items: center;
	justify-content: space-between;

	max-width: 100%;
	margin-bottom: 10px;
}

.top {
	@media (max-width: 1330px) {
		flex-direction: column-reverse;
		align-items: flex-start;
	}
}
