@use '../../styles/libs/mixins';
@import '../../styles/variables';

$blockWidthFull: 280px;
$blockWidth400: 240px;

.root {
	display: flex;
	justify-content: center;

	@media (max-width: 400px) {
		width: $blockWidth400;
		margin-right: 10px;
		margin-left: 10px;
	}
	@media (max-width: 350px) {
		margin-right: 0px;
		margin-left: 0px;
	}
}

.block {
	width: $blockWidthFull;

	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 65px;

	transition: all 0.2s ease-in-out;

	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;

	.image {
		width: 220px;
		height: 220px;
	}

	.title {
		width: $blockWidthFull;
		font-size: 20px;
		font-weight: 900;
		letter-spacing: 1%;
		margin-bottom: 20px;
	}

	.selector {
		display: flex;
		width: $blockWidthFull;
		background-color: #f3f3f3;
		border-radius: 10px;
		flex-direction: column;
		padding: 6px;

		ul {
			display: flex;
			flex: 1;

			&:first-of-type {
				margin-bottom: 6px;
			}

			li {
				padding: 8px;
				flex: 1;
				cursor: pointer;
				font-weight: 600;
				font-size: 14px;
				@include mixins.noselect();

				&.active {
					background: #ffffff;
					box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
					border-radius: 5px;
					cursor: auto;
				}
			}
		}
	}

	.bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 20px;
		width: $blockWidthFull;
	}

	.price {
		font-weight: bold;
		font-size: 22px;
		line-height: 27px;
		letter-spacing: 0.015em;
	}

	&:hover {
		transform: scale(1.03);
	}

	@media (max-width: 400px) {
		width: $blockWidth400;
		margin-bottom: 40px;

		.image {
			width: 160px;
			height: 160px;
		}
		.title {
			width: $blockWidth400;
			font-size: 18px;
		}
		.selector {
			width: $blockWidth400;
		}
		.bottom {
			width: $blockWidth400;
		}
		.price {
			font-size: 18px;
		}
		.addBtn {
			width: 140px;
			padding-right: 5px;
			padding-left: 5px;
			span {
				font-size: 16px;
			}
			i {
				font-size: 14px;
			}
		}
	}
}

.skeleton {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-bottom: 65px;
	transition: all 0.2s ease-in-out;

	$skeletonGradient: #dcdbdb;
	$skeletonBC: #d8d6d6;

	@mixin bcAnimation() {
		background: linear-gradient(
			110deg,
			$skeletonBC 8%,
			$skeletonGradient 18%,
			$skeletonBC 33%
		);
		background-size: 200% 100%;
		animation: 1.5s shine linear infinite;

		@keyframes shine {
			to {
				background-position-x: -200%;
			}
		}
	}

	width: 280px;

	.image {
		display: flex;
		width: 220px;
		height: 220px;
		border-radius: 220px;
		margin-top: 5px;
		margin-bottom: 5px;
		background-color: $skeletonBC;
		@include bcAnimation();
	}

	.title {
		height: 25px;
		width: 100%;
		border-radius: 10px;
		margin-top: 7px;
		margin-bottom: 15px;
		background-color: $skeletonBC;
		@include bcAnimation();
	}

	.selector {
		width: 100%;
		height: 88px;
		padding: 6px;
		border-radius: 10px;
		background-color: $skeletonBC;
		@include bcAnimation();
	}

	.bottom {
		margin-top: 20px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		width: 100%;
		height: 45px;

		.price {
			display: flex;
			height: 27px;
			width: 77px;
			border-radius: 30px;
			background-color: $skeletonBC;
			@include bcAnimation();
		}

		.addBtn {
			display: flex;
			height: 45px;
			width: 152px;
			border-radius: 30px;
			background-color: $skeletonBC;
			@include bcAnimation();
		}
	}

	@media (max-width: 400px) {
		width: $blockWidth400;
		margin-bottom: 40px;

		.image {
			width: 160px;
			height: 160px;
		}
		.selector {
			width: $blockWidth400;
		}
		.bottom {
			width: $blockWidth400;
		}
	}
}
