.root {
	text-align: center;
	padding: 50px;
	margin: 0 auto;
	max-width: 700px;

	span {
		font-size: 64px;
	}

	h1 {
		font-size: 38px;
	}

	.desription {
		font-size: 22px;
	}

	:global {
		.button {
			margin-top: 20px;
			width: 300px;
			font-weight: 600;
			font-size: 20px;
		}
	}
}
