@import './vars/_variables.scss';
@import './common/all.scss';

body {
	background-color: $background;
}

.wrapper {
	min-width: 260px;
	width: calc(100vw - 100px);
	height: 100%;
	background-color: #fff;
	margin: 30px auto;
	border-radius: 10px;
	max-width: 1400px;

	@media (max-width: 600px) {
		margin: 20px auto;
		width: calc(100vw - 60px);
	}

	@media (max-width: 400px) {
		margin: 10px auto;
		width: calc(100vw - 20px);
	}
}

.content {
	padding: 20px 0;

	@media (max-width: 600px) {
		padding: 10px 0;
	}
}

.container {
	width: $container-width;
	margin: 0 auto;

	&--cart {
		max-width: 820px;
		margin: 40px auto;
		.content__title {
			margin: 0;
		}
	}
}
